src/main/mule/xyz-hosp-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="xyz-hosp-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="xyz-hosp-sys-api-config" api="xyz-hosp-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="xyz-hosp-sys-api-main">
        <http:listener config-ref="xyz-hosp-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="xyz-hosp-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="xyz-hosp-sys-api-console">
        <http:listener config-ref="xyz-hosp-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="xyz-hosp-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\doctors:application\json:xyz-hosp-sys-api-config" doc:id="aa3849bf-c49e-48cc-aed2-4e50b29d5680">
		<flow-ref doc:name="update-doctor-impl-flow" doc:id="fc9389f2-a83e-421b-97a1-be8a975b43ad" name="update-doctor-impl-flow"/> 
		<ee:transform doc:name="success-message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Doctor Data has successfully been updated to DB"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\patients:application\json:xyz-hosp-sys-api-config">
    <flow-ref doc:name="update-patient-impl-flow" doc:id="b45f25a5-7758-4cef-b230-897313c7ea1b" name="update-patient-impl-flow"/>
		
		<ee:transform doc:name="success-message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Patient Data has successfully been updated to DB"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\doctors:xyz-hosp-sys-api-config">
    <flow-ref doc:name="delete-doctor-impl-flow" doc:id="79d788bd-2fba-4e75-89be-f82726941714" name="delete-doctor-impl-flow"/>

        <ee:transform doc:name="success-message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Doctor Data has successfully been deleted from DB"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\patients:xyz-hosp-sys-api-config">
        <flow-ref doc:name="delete-patient-impl-flow" doc:id="ee8962b9-134d-4f36-9bf2-b713efe6080c" name="delete-patient-impl-flow"/>
		<ee:transform doc:name="success-message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Doctor Data has successfully been deleted from DB"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\doctors:xyz-hosp-sys-api-config">
        <flow-ref doc:name="get-doctor-impl-flow" doc:id="a5376684-a013-4e9f-8881-53202abbcd9d" name="get-doctor-impl-flow"/>
    </flow>
    <flow name="get:\patients:xyz-hosp-sys-api-config" doc:id="8d744ed6-b441-423d-a52d-bbfb3292ada2">
        <flow-ref doc:name="get-patient-impl-flow" doc:id="ada3d363-0666-49dc-b668-b233690148d5" name="get-patient-impl-flow"/> 
    </flow>
    <flow name="post:\doctors:application\json:xyz-hosp-sys-api-config">
        <flow-ref doc:name="post-doctor-impl-flow" doc:id="af214ca6-5a9c-4a5f-be77-15f9b1dbe5e5" name="post-doctor-impl-flow"/>
		<ee:transform doc:name="success-message" doc:id="3a48e0eb-a9ba-4dd8-b00f-80bbee0ffc8a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Doctor Data has successfully been posted to DB"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\patients:application\json:xyz-hosp-sys-api-config">
<flow-ref doc:name="post-patient-impl-flow" doc:id="adc0f093-4850-409c-83f9-b4df312726ae" name="post-patient-impl-flow"/>
		<ee:transform doc:name="success-message" doc:id="2298d01b-f387-45a0-b1c3-bf637423efe9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Patient Data has successfully been posted to DB"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    </mule>